$bg-nav: #08080b;
$bg-footer:#D5D5D5;
$color1:rgba(100,100,100,.3);

$color-item1:#337ab7;
$color-item2:#5cb85c;
$color-item3:#f0ad4e;
$color-item4:#d9534f;
@font-face {
    font-family: fontOpenSans;
    src: url('../font/OpenSans/OpenSans-Regular.ttf');
}
*{
    margin:0;
    padding:0;
}
h2, h3{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration:none;
    }
}
ul{
    list-style: none;
    display: inline-block;
}

body{
    background-color: white;
    font-family:fontOpenSans;
}

header{
    height:70px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom:1px solid $color1;
    ul{
        li{
            padding: 0 15px;
            text-transform: uppercase;
            
            a{
                color:black;
            }
            input{
                border:none;
                background:white;
            }
            &:hover{
                a, input{
                    color:grey;
                }
            }
        }
    }
}
section{
    height:calc(100% - 70px);
    background:white;
    
    
    #left{
        float:left;
        width:250px;
        background: white;
        .l-header{
                input{
                    border:1px solid $color1;
                    margin:10px;
                    margin-right:0;
                    padding:3px 10px;
                    border-top-left-radius: 3px;
                    &:focus{
                        outline: none;
                    }
                }
                a{
                    margin-left:-5px;
                    color:black;
                    border:1px solid $color1;
                    padding:3px 20px 4px 20px;
                    border-bottom-right-radius: 3px;
                    &:hover{
                        background: $color1;
                    }
                }
            }
        ul{
            
            
            width:100%;
            li{
                padding: 10px;
                text-transform: uppercase;
                a{
                    color:black;
                } 
                span{
                    padding:10px;
                }
                &:hover{
                    background: $color1;
                    a{
                        color:grey;
                    }
                }
            }
        }
    }
    #right{
        a{
            color:black;
        }
        float:left;
        width:calc(100% - 250px);
        border-left: 1px solid $color1;
        padding: 10px;
        overflow: hidden;
        .table-header th{
            text-align: center;
        }
        .text-center{
            text-align: center;
        }
        .ddl{
            width:200px;
            padding:5px 10px;
            margin:10px 0;
            border-radius: 3px;
            border:1px solid $color1;
            &:focus{
                outline:none;
            }
        }
        .manager-header{
            display: flex;
            justify-content: space-between;
            padding-right:100px;
            align-items: center;
            .btn{
                padding:5px 10px;
                margin-bottom: 2px;
                border:1px solid $color1;
            }
            .mh-right{
                input{
                    border:1px solid $color1;
                    width:200px;
                    padding:5px 10px;
                    margin:10px 0;
                    border-radius: 3px;
                    &:focus{
                        outline:none;
                    }
                }
            }
        }
        .table{
            tr,td{
                border:none;
            }
            tr{
                padding:10px;
                border:none;
            }
            input{
                padding:5px 10px;
                border:1px solid $color1;
                border-radius: 3px;
            }
            textarea{
                width:400px;
                height:150px;
            }
        }

        h1{
            border-bottom: 1px solid $color1;
            padding:10px;
        }
        .row{
            margin:0;
            .item-manager{
                border-radius: 5px;
                
                .item-manager-content{
                    color:white;
                    display: flex;
                    flex-direction: row;
                    padding:10px;
                    span{
                        font-size: 70px;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        padding-left:20px;
                        .number{
                            font-size: 30px;
                        }
                        .title{
                            font-size: 20px;
                        }
                    }
                }
                .item-manager-footer{
                    background:white;
                    padding:10px;
                    border-radius: 5px;
                    display: flex;
                    justify-content: flex-end;   
                }
            }
            .item1{
                background: $color-item1;
                border:1px solid $color-item1;
                a{
                    color:$color-item1;
                }
            }
            .item2{
                background: $color-item2;
                border:1px solid $color-item2;
                a{
                    color:$color-item2;
                }
            }
            .item3{
                background: $color-item3;
                border:1px solid $color-item3;
                a{
                    color:$color-item3;
                }
            }
            .item4{
                background: $color-item4;
                border:1px solid $color-item4;
                a{
                    color:$color-item4;
                }
            }
        }
        
    }

}