$color1 : #EF5F21;
$color2 : #589D3E;
$color3 : #00ACED;
$color4 : #D61F85;
$color5 : #F89F1B;
$color6 : #00677C;
$color7 : #D5331D;
$color8 : #00405d;
$color9 : #9CB43A;
$color10 : #0AA4FC;
$color11 : #B800FF;
$color12 : #07A289;

$bg-nav: #08080b;
$bg-footer:#D5D5D5;

@font-face {
    font-family: fontOpenSans;
    src: url('../font/OpenSans/OpenSans-Regular.ttf');
}
*{
    margin:0;
    padding:0;
}
h2, h3{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration:none;
    }
}
ul{
    list-style: none;
    display: inline-block;
}
li{
    display: inline-block;
    margin-left: -5px;
}
body{
    background-color: white;
    font-family:fontOpenSans;
}
header{
    #headerTop{
        height:70px;
        display:flex;
        align-items:center;
        padding: 20px 100px 20px 100px;
        justify-content: space-between;
        img{
            margin-top:-10px;
        }
        ul{
            li{
                padding: 0 15px;
                text-transform: uppercase;
                a{
                    color:black;
                } 
                &:hover{
                    a{
                        color:grey;
                    }
                }
            }
        }
    }
    #headerBottom{
        background-color: $bg-nav;
        height:45px;
        padding: 5px 100px 0px 100px;
        ul{
            margin-left:-20px;
            li{
                padding:7px 20px;
                a{
                    color:white;
                }
                transition: background-color 1s ease;
                margin: 0 2px;
            }
            .color1{
                &:hover{
                    background-color: $color1;
                }
            }
            .color2{
                &:hover{
                    background-color: $color2;
                }
            }
            .color3{
                &:hover{
                    background-color: $color3;
                }
            }
            .color4{
                &:hover{
                    background-color: $color4;
                }
            }
            .color5{
                &:hover{
                    background-color: $color5;
                }
            }
            .color6{
                &:hover{
                    background-color: $color6;
                }
            }
            .color7{
                &:hover{
                    background-color: $color7;
                }
            }
            .color8{
                &:hover{
                    background-color: $color8;
                }
            }
            .color9{
                &:hover{
                    background-color: $color9;
                }
            }
            .color10{
                &:hover{
                    background-color: $color10;
                }
            }
            .color11{
                &:hover{
                    background-color: $color11;
                }
            }
            .color12{
                &:hover{
                    background-color: $color12;
                }
            }
        }
    }
    
}
section{
    padding:20px 100px;
    .row{
        padding-bottom: 20px;
        a{
            color:black;
            width:100%;
        }
        .title{
            padding:10px 0;
        }
        .item{
            padding-top: 20px;
            .itemFooter{
                .itemButton{
                    cursor: pointer;
                }
            }
        }
    }
    
}

footer{
    .center{
        text-align:center;
    }
    .right{
        text-align:right;
    }
    #footerTop, #footerBottom{
        padding:0 100px;
        background-color: $bg-nav;
        height: 33px;
        font-size: 12px;
        color:white;
        align-items: center;
        display: flex;
    }
    #footerTop{
        justify-content: space-between;
    }
    #footerContent{
        padding:20px 100px;
        background-color: $bg-footer;
        overflow:hidden;
        h2{
            font-size:17px;
            padding-bottom:10px;
            font-weight:bold;
            
        }
        h3{
            font-size:14px;
        }
    }

    #footerBottom{
        justify-content: center;
    }
    .orange{
        color:orange;
    }
}
.item{
    .itemTop{
        border:1px solid rgba(100,100,100,.1);
        padding:10px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size:16px;
    }
}
.itemFooter{
    height:30px;
    display: flex;
    flex-direction: row;
    &:hover{
        cursor:hand;
    }
    .itemPrice{
        display: flex;
        align-items:center;
        width:50%;
        justify-content: center;
        background-color: $bg-footer;
        font-size: 18px;
    }
    .itemButton{
        display: flex;
        align-items:center;
        justify-content: center;
        width:50%;
        background-color: $bg-nav;
        color:white;
        font-size: 18px;
    }
}
.detail{
    img{
        width:100%;
    }
    .price{
        padding-bottom:20px;
        color:orange;
    }
    .btn-black{
        background-color: #555555;
        padding:10px 20px;
        color:white;
        border-bottom:3px solid $bg-nav;
        font-size:18px;
    }
    p{
        padding-top:40px;
    }
}